<% content_for :javascripts do %>
<script type="text/javascript">
// default : speed=200(higher value means low speed),wait_afterScroll=3000(milliseconds.=3sec), wait_noScroll=60000(milliseconds.=1min)
var speed = 200;
var wait_afterScroll = 3000;
var wait_noScroll = 60000;
var scrollBox, boxHeight, contentsHeight, duration;
$(document).ready(function(){
  scrollBox = $("#slider");
  boxHeight = $(window).height() - scrollBox.offset().top - 10;
  if (boxHeight < scrollBox.height()){
    scrollBox.css("height",boxHeight);
    scrollBox.css("overflow","auto");

    contentsHeight = $("#slide_contents").outerHeight();
    duration = (contentsHeight - boxHeight)*speed

    scrollBox.animate({ scrollTop: contentsHeight }, duration, "linear", function() {
      setTimeout(function(){document.location.reload(true);}, wait_afterScroll);
    });
  }else{
    setTimeout(function(){document.location.reload(true);}, wait_noScroll);
  }
});
</script>
<% end %>
<span></span>
<p><marquee bgcolor="#000000"><h1><font color="#ffffff">
  <% if @items.any? -%>
    <% @items.each do |item| -%>
      <%= item.title %>　　　
    <% end -%>
  <% else -%>
    <%= ::CONF['additions']['tv']['no_marquees'] %>
  <% end -%>
</font></h1></marquee></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
<%= raw tv_feed_list @feed -%>
  </tr>
</table>
