# encoding: utf-8
time:
  formats:
    ja: "%Y年%m月%d日 %H時%M分"
    jp: "%Y/%m/%d %H:%M"
    convert_from: ['%Y年%m月%d %H時%M分%S秒']
pages:
  home:
    news_number: 5
    news_number_mobile: 1
    additions_number: 10
    additions_number_mobile: 5
    disp_length: 15
    disp_length_mobile: 8
news:
  title: "お知らせ"
  no_items: "現在、公開されている情報はありません。"
  page_size: 5
  page_size_mobile: 10
additions:
  info:
    status_0: ""
#    status_1: "RSS情報が取得できませんでした。<br />少し時間を置いてから画面を更新してください。"
    status_1: "現在、配信されている情報はありません。"
    status_2: "現在、配信されている情報はありません。"
    status_3: "エラーが発生しました"
    page_size: 5
    page_size_mobile: 10
  tv:
    number: 9
    number_marquee: 3
    no_marquees: "現在、緊急の情報はありません。"
    marker_color: ["red","orange","blue","yellow","purple","green","brown","gray","white"]
  data:
    disaster:
      type: []
      title: "災害関連情報"
    evacuation:
      type: ["disaster"]
      title: "避難勧告・指示"
      rss: "http://xxx.xxx.xxx.xxx/rss/top/rss1.xml"
    jalert_jma:
      type: ["disaster"]
      title: "J-ALERT発信（気象庁）"
      rss: "http://xxx.xxx.xxx.xxx/rss/top/rss2.xml"
    jalert_cas:
      type: ["disaster"]
      title: "J-ALERT発信（内閣官房）"
      rss: "http://xxx.xxx.xxx.xxx/rss/top/rss3.xml"
    jma_warning:
      type: ["disaster"]
      title: "気象庁発信（警報・注意報）"
      rss: "http://xxx.xxx.xxx.xxx/rss/top/rss4.xml"
    jma_other:
      type: ["disaster"]
      title: "気象庁発信（その他）"
      rss: "http://xxx.xxx.xxx.xxx/rss/top/rss5.xml"
    river_warning:
      type: ["disaster"]
      title: "河川管理者発信（警報・注意報）"
      rss: "http://xxx.xxx.xxx.xxx/rss/top/rss6.xml"
    river_other:
      type: ["disaster"]
      title: "河川管理者発信（その他）"
      rss: "http://xxx.xxx.xxx.xxx/rss/top/rss7.xml"
    emergency:
      type: ["disaster"]
      title: "災害対策本部設置"
      rss: "http://xxx.xxx.xxx.xxx/rss/top/rss8.xml"
    request:
      type: ["info_group"]
      title: "被災者からの要望"
    request_life:
      type: ["info", "request"]
      title: "被災者からの要望（生活全般）"
      rss: "http://xxx.xxx.xxx.xxx/rss/rss_d1.xml"
    request_foods:
      type: ["info", "request"]
      title: "被災者からの要望（食料）"
      rss: "http://xxx.xxx.xxx.xxx/rss/rss_d2.xml"
    request_goods:
      type: ["info", "request"]
      title: "被災者からの要望（物資・資材）"
      rss: "http://xxx.xxx.xxx.xxx/rss/rss_d3.xml"
    shelter_status:
      type: ["map", "georss", "search", "tv"]
      title: "避難所開設・閉鎖情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/GeoRSS_shelter.xml"
    transport:
      type: ["map", "georss_group", "traffic"]
      title: "交通情報"
    traffic_control:
      type: ["georss", "transport", "tv"]
      title: "道路通行規制に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/GeoRSS_traffic_control.xml"
    traffic_jam:
      type: ["georss", "transport", "tv"]
      title: "道路渋滞に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/GeoRSS_traffic_jam.xml"
    road_status:
      type: ["georss", "transport", "tv"]
      title: "道路路面状況に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    train_traffic:
      type: ["georss", "transport", "tv"]
      title: "鉄道の運行に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    bus_traffic:
      type: ["georss", "transport", "tv"]
      title: "バスの運行に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    air_traffic:
      type: ["georss", "transport", "tv"]
      title: "航空路の運行に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    ship_traffic:
      type: ["georss", "transport", "tv"]
      title: "船舶路の運行に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    other_traffic:
      type: ["georss", "transport", "tv"]
      title: "その他公共交通の運行に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    lifeline:
      type: ["map", "georss_group"]
      title: "ライフライン情報"
    water_supply:
      type: ["georss", "lifeline"]
      title: "給水に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    power_supply:
      type: ["georss", "lifeline"]
      title: "電気に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    water_system:
      type: ["georss", "lifeline"]
      title: "上水道に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    sewage_system:
      type: ["georss", "lifeline"]
      title: "下水道に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    gas_system:
      type: ["georss", "lifeline"]
      title: "ガスに関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    network_system:
      type: ["georss", "lifeline"]
      title: "通信網に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    emergency_broadcast:
      type: ["georss", "lifeline"]
      title: "臨時災害放送に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    life:
      type: ["map", "georss_group"]
      title: "生活情報"
    distribution_service:
      type: ["georss", "life"]
      title: "炊き出し・物資配布に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    bath_service:
      type: ["georss", "life"]
      title: "入浴サービスに関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    shop_info:
      type: ["georss", "life"]
      title: "営業店舗に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    medical_info:
      type: ["georss", "life"]
      title: "医療に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    welfare_info:
      type: ["georss", "life"]
      title: "健康・福祉・介護に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    education_info:
      type: ["georss", "life"]
      title: "学校・幼稚園・保育所に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    environment_info:
      type: ["georss", "life"]
      title: "環境に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    crime_prevention:
      type: ["georss", "life"]
      title: "防犯に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    volunteer_support:
      type: ["georss", "life"]
      title: "ボランティアの支援を受けたい方への情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    other_support:
      type: ["georss", "life"]
      title: "その他の被災者支援に関する情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    weather:
      type: ["map", "georss_group"]
      title: "地震・津波・気象情報"
    quake_warning:
      type: ["georss", "weather"]
      title: "地震速報/津波情報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    weather_warning:
      type: ["georss", "weather"]
      title: "注意報・警報"
      rss: "http://xxx.xxx.xxx.xxx/rss/sample.xml"
    shelter:
      type: ["map", "fusiontable", "search"]
      title: "避難所"
      selection:
        select1: [["避難生活避難所(避難所)",1],["緊急一時避難所・避難場所",2]]
        select2:
          select2_1:
            - ["石巻地区", [11,"1k9C6otbQ1GcqimqW-C9Ad39irGyaG9DK1-yMiDs",38.396299,141.361771,11]]
            - ["河北地区", [11,"1ARuGztI6QpKb1ThRiZElw5vXAocZgGC4IUaKWCQ",38.522518,141.324005,13]]
            - ["雄勝地区", [11,"1axxIV95k3OJEfByCdBXvm0FfzWsL4x_JLo0qZyM",38.515669,141.515479,13]]
            - ["河南地区", [11,"1f9w5XnD10XKQw2d5Nef8dXxi6rUtnaH0u8BWJhE",38.494713,141.234055,12]]
            - ["桃生地区", [11,"1LPn_A57bthuvmR3hjAaBhVtBDsD5WfvMi6RZM5I",38.558905,141.274567,12]]
            - ["北上地区", [11,"17hKytF3YIHYhdWsNmAL1MYuKVKV_XvvUsM-Ze6Y",38.588699,141.437988,12]]
            - ["牡鹿地区", [11,"1j3VVm3B_16q6uvjnvlnS-cczcnj6l0O3UuPSJco",38.346503,141.465797,11]]
          select2_2:
            - ["石巻地区", [12,"1uOOPZhaO9_yJy1iqjSjrNteLdJJwS-cnpC2TGhY",38.387688,141.341515,11]]
            - ["河北地区", [12,"1CCFRXOwKNZ2IkakE0G06u_OJCewwLywmCJpPSX8",38.522518,141.338396,12]]
            - ["雄勝地区", [12,"18eK5V9tlEr9FQPVYEykfymrq4JcL3dhoAZtelfg",38.515669,141.512661,12]]
            - ["河南地区", [12,"127YPGaD49dfcwertv8wOZwfn8UOyaTv0lOI1gOA",38.48907,141.234055,12]]
    hazard:
      type: ["map", "fusiontable"]
      title: "ハザードマップ"
      help:
        flood: "洪水ハザードマップとは"
        tidalwave: "津波ハザードマップとは"
        quake: "地震防災マップとは"
      selection:
        select1: [["洪水ハザードマップ",1],["津波ハザードマップ",2],["地震防災マップ",3]]
        select2:
          select2_1: [["石巻地区",1],["河北地区",2],["河南地区",4],["桃生地区",5]]
          select2_2: [["石巻地区",8],["河北地区",9],["雄勝地区",10],["河南地区",11],["北上地区",12],["牡鹿地区",13]]
          select2_3: [["石巻地区",14],["河北・桃生地区",15],["雄勝・北上地区",16],["河南地区",17],["牡鹿半島地区",18]]
        select3:
          select3_1:
            - ["地区1", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.472427,141.268113,14]]
            - ["地区2", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.446081,141.265367,14]]
            - ["地区3", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.419053,141.264766,14]]
            - ["地区5", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.472847,141.314290,14]]
            - ["地区6", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.444670,141.316779,14]]
            - ["地区7", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.419322,141.312488,14]]
            - ["地区10", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.465791,141.361797,14]]
            - ["地区11", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.445224,141.363772,14]]
          select3_2:
            - ["地区1", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.555318,141.267813,14]]
            - ["地区2", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.527122,141.267899,14]]
            - ["地区3", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.497370,141.269701,14]]
            - ["地区4", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.553384,141.317992,14]]
            - ["地区5", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.524046,141.317562,14]]
            - ["地区6", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.499331,141.317562,14]]
            - ["地区9", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.552310,141.359448,14]]
            - ["地区10", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.527471,141.359448,14]]
            - ["地区13", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.552847,141.408715,14]]
            - ["地区14", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.526396,141.408800,14]]
            - ["地区16", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.576873,141.456522,14]]
            - ["地区17", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.552042,141.457295,14]]
            - ["地区18", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.524583,141.455793,14]]
          select3_4:
            - ["地区1", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.525792,141.179847,14]]
            - ["地区2", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.499801,141.174096,14]]
            - ["地区3", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.472255,141.175985,14]]
            - ["地区4", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.449875,141.175985,14]]
            - ["地区5", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.526598,141.226625,14]]
            - ["地区6", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.500741,141.226625,14]]
            - ["地区7", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.472457,141.226625,14]]
            - ["地区8", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.446783,141.226625,14]]
          select3_5:
            - ["地区1", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.572512,141.232376,14]]
            - ["地区2", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.553116,141.232376,14]]
            - ["地区5", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.604580,141.271600,14]]
            - ["地区6", [1,"1f967F_XFolCQ4yaHzFrrn2ND4X0FUNBBZi1JSWI",38.581033,141.271600,14]]
          select3_8:
            - ["地区1", [2,"1g2d2dhgw79KU5oFsb5i1AWkm9dbGVGmyTybM8LI",38.452614,141.306446,14]]
            - ["地区2", [2,"1Yowjm5qPdxRiXuqIiVPDio2FfPTsKGJUrD6XPt8",38.41345,141.292834,13]]
            - ["地区3", [2,"1dXvL7ecQ2-pgDTHdJXaSwlWS4Diz2Hn4n5c5320",38.434026,141.389651,15]]
            - ["地区4", [2,"1O19JCLt3c-ixs_Hds6vtuuqnv5uSGHiwKvEPACw",38.404371,141.391368,13]]
            - ["地区5", [2,"1UK8bDsqXEk63CPF6O2QGe5aPSLUVY8ZAxqSmgZg",38.385333,141.472564,13]]
            - ["地区6", [2,"1OxWRN4fgC7G0IkCzU66Q_1inlBr-H_ev5P985bk",38.349465,141.457357,13]]
            - ["地区7", [2,"11-2Vy9H9PxCr9Yf-ju_xNTle2sZLYVB92rI8aug",38.29802,141.447058,13]]
          select3_9:
            - ["地区1", [2,"1b5GtavLXOfxdO8Gax9Zj3zxQsMZV3HxZBmRV4Sg",38.574474,141.464567,13]]
            - ["地区2", [2,"1jk8fvBQjVAJanOM-6xndPTQKm2RT9Y_J_IIxqCU",38.544809,141.398478,13]]
          select3_10:
            - ["地区1", [2,"1z-BD1RjxGiufrd2h1zJcffIlCNg6kRUDlpjm9nE",38.535007,141.504908,13]]
            - ["地区2", [2,"1Q6BNrR7kPsG6AMmMBP-6mofb1H5Q7V-A-lQE3NU",38.496459,141.513491,13]]
            - ["地区3", [2,"1dwuWS6acvLuSvpV4W6Y0394pU62dgheFG205blw",38.515518,141.470407,14]]
          select3_11:
            - ["地区1", [2,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
          select3_12:
            - ["地区1", [2,"1XlOGp8TWrPzqaC3XaTxska0m_tDS1v0x55Yos5A",38.611237,141.518297,13]]
            - ["地区2", [2,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["地区3", [2,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
          select3_13:
            - ["地区1", [2,"1Cyn821lCcxWd_zCX4t1GYKOMNglP9vQKTECq0yc",38.268645,141.498899,13]]
            - ["地区2", [2,"14F3Mli6q1RDn8fXUer9YqXTB1PT5JSNUPbqmIxQ",38.305968,141.468515,12]]
            - ["地区3", [2,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["地区4", [2,"1e6Iskr9kg6mtHld0zlorsuH8KTc4CA3P-ukadYU",38.295071,141.555376,13]]
            - ["地区5", [2,"1nwEB2HTOQaIZZNTERbWRTXmZX1SkeWm6_E--WpM",38.350042,141.515379,13]]
            - ["地区6", [2,"1tLI3Bw5uqORinatHOL9FK6w7vsHcffyNXNearlA",38.387217,141.515479,13]]
          select3_14:
            - ["揺れやすさマップ（～震度6弱）", [31,"1RF9sM7EmevY9AQv5dNgAv9fQrah2KRdUTFIb2Bw",38.451976,141.291676,12]]
            - ["揺れやすさマップ（震度6強～）", [32,"1RF9sM7EmevY9AQv5dNgAv9fQrah2KRdUTFIb2Bw",38.451976,141.291676,12]]
            - ["地域の危険度マップ（危険度1～4）", [41,"1tOuoF28bi9uRED0mqkC54UjpQtZE8mGFbhrIDs4",38.451976,141.291676,12]]
            - ["地域の危険度マップ（危険度5～7）", [42,"1tOuoF28bi9uRED0mqkC54UjpQtZE8mGFbhrIDs4",38.451976,141.291676,12]]
          select3_15:
            - ["揺れやすさマップ（～震度6弱）", [31,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["揺れやすさマップ（震度6強～）", [32,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["地域の危険度マップ（危険度1～4）", [41,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["地域の危険度マップ（危険度5～7）", [42,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
          select3_16:
            - ["揺れやすさマップ（～震度6弱）", [31,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["揺れやすさマップ（震度6強～）", [32,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["地域の危険度マップ（危険度1～4）", [41,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["地域の危険度マップ（危険度5～7）", [42,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
          select3_17:
            - ["揺れやすさマップ（～震度6弱）", [31,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["揺れやすさマップ（震度6強～）", [32,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["地域の危険度マップ（危険度1～4）", [41,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["地域の危険度マップ（危険度5～7）", [42,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
          select3_18:
            - ["揺れやすさマップ（～震度6弱）", [31,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["揺れやすさマップ（震度6強～）", [32,"16tNZouVL-FVfUIy8Fc2lLRQRX801n-AftM4xftM",38.451976,141.291676,12]]
            - ["地域の危険度マップ（危険度1～4）", [41,"1gsp-XQ8EFlqefXvXPxyyUFNCRALnnl3qqyzVq7A",38.451976,141.291676,12]]
            - ["地域の危険度マップ（危険度5～7）", [42,"1gsp-XQ8EFlqefXvXPxyyUFNCRALnnl3qqyzVq7A",38.451976,141.291676,12]]
