<section id="body_content_left">
  <%= render '/refinery/menu_right' -%>
</section>
<section id="body_content_right">
  <div class="wrap">
    <div id="error_404">
      <h2>お探しのページを見つけることができませんでした。</h2>
      <p>前のページにお戻りになるか、URLをご確認ください。</p>
      <p>もしくは左のメニューより、再度、情報をお探しください。</p>
    </div>
  </div>
  <div class="nl_right"><%= link_to ">> HOMEへ戻る", refinery.root_path, :class => "nl" %></div>
</section>
