#page_help {
  width: 600px;
  margin: 0px auto;
}
#body_content_help {
  margin: 10px;
  div.help {
    margin-left: 10px;
    p {
      margin: 0;
      padding: 5px 0;
    }
    img {
      margin: 0;
      padding: 0 5px;
      border: 0;
    }
    dl.assume {
      margin: 5px 10px;
      padding: 5px 0;
      font-size: 95%;
      border: 1px solid #e3eae9;
      dt {
       float:left;
       clear:both;
       padding:5px 10px;
      }
      dd {
       margin-left:100px;
       padding:5px 10px;
      }
    }
    dl.source {
      margin: 5px 10px;
      padding: 7px 0;
      border-top: 1px solid #e3eae9;
      font-size: 80%;
      color: #666;
      dt {
       padding:2px 10px;
       font-weight: bold;
      }
      dd {
       padding:2px 5px;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        padding: 4px 20px;
      }
    }
  }
}
