#twi {
  margin-bottom: 10px;
  background: #fff;
}
.info_list{
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding:2px 0 2px 15px;
  }
}
#content_left {
  .none {
    display: block;
    margin-top: 7px;
    margin-bottom: 15px;
  }
}

