#googlemap {
  margin-bottom: 3px;
  width: 99%;
  height: 400px;
  border: 1px solid #e3eae9;
  clear: both;
}
#legend {
  background: #fff;
  border: 1px solid #666666;
  p {
    margin: 2px;
    padding: 0 2px
  }
  .color {
    float: left;
    height: 10px;
    width: 10px;
    margin-right: 3px;
    border: 1px solid #666666;
  }
  .polygonRed {
    filter: alpha(opacity=70);	/* ie */
    -moz-opacity: 0.7; 			/* Firefox */
    opacity: 0.7;					/* Webkit */
    background: #ff0000;
  }
  .polygonDkred {
    filter: alpha(opacity=50);
    -moz-opacity: 0.7;
    opacity: 0.7;
    background: #660000;
  }
  .polygonPink {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #ff0080;
  }
  .polygonLtpnk {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #ff99ff;
  }
  .polygonDkOrng {
    filter: alpha(opacity=50);
    -moz-opacity: 0.7;
    opacity: 0.7;
    background: #ff6600;
  }
  .polygonOrange {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
    background: #ff9900;
  }
  .polygonYellow {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
    background: #ffff00;
  }
  .polygonLtgrn {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #00ff00;
  }
  .polygonGreen {
    filter: alpha(opacity=70);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #006600;
  }
  .polygonLtblu {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #00ffff;
  }
  .polygonBlue {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #0000ff;
  }
  .polygonPurple {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #8000ff;
  }
}
#select_map {
  display: box;
  margin: 5px;
  padding: 3px 10px;
  border: 1px solid #e3eae9;
}
.hidden {
  display: none;
}
.disp {
  display: inline;
}
#search_map {
  input[type="text"] {
    width: 150px;
  }
}
#draw_map {
  .calc {
    font-weight: bold;
  }
}
ul.help {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 4px 20px;
  }
}
#feed_list {
  border: 1px solid #ccc;
  margin: 0px;
  width: 630px;
  max-height: 150px;
  overflow: auto;
  div {
    width: 580px;
    margin: 0px auto;
    p.link {
      padding: 0 5px;
      margin: 0;
      text-align: right;
    }
  }
}
