body {
  font-family: sans-serif;
}
table, tr {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
td {
  margin: 0;
  border: 0;
}
#slider {
  padding: 5px;
}
.title {
  word-break: break-all;
  word-wrap: break-word;
}
.date {
  text-align: right;
}
.map {
  width: 320px;
  text-align: center;
}
