<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= Refinery::Core.site_name %></title>
</head>
<center><font color="#2d456f"><b>石巻市災害ポータル</b></font></center>
<hr color="#4975d4" />
<%= yield %>
<br />
<hr color="#4975d4" />
<center>(C) Ishinomaki City</center>
</body>
</html>
